/*Multilanguage*/

/*settings page*/
#mltlngg-add-new-language-form {
	display: block;
	position: relative;
}
#mltlngg-add-new-language-form .form-table {
	margin-top: 0;
}
.mltlngg-disabled {
	background-color: #fefaf7;
	border-left: 3px solid #d54e21;
}
.mltlngg-disabled > th {
	border-left: 3px solid #d54e21;
	box-sizing: border-box;
	padding-left: 0;
}
.mltlngg-title {
	font-size: 1.7em;
	height: 1.7em;
	line-height: 100%;
	margin: 5px 0;
	outline: 0 none;
	padding: 3px 8px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
	color: #333;
}
#mltlngg-save-button {
	margin: 10px 0;
}
.mltlngg-lang-button,
.mltlngg-lang-button:active,
.mltlngg-lang-button:hover {
	padding: 0;
	margin: 0;
	width: 46px;
	height: 20px;
	border: none;
	box-shadow: none;
	background: none;
	text-align: left;
	z-index: 100;
}
.mltlngg-lang-button-icons,
.mltlngg-lang-button-icons:active,
.mltlngg-lang-button-icons:hover,
.widget .mltlngg-lang-button-icons,
.widget .mltlngg-lang-button-icons:active,
.widget .mltlngg-lang-button-icons:hover {
	padding: 0;
	margin: 0;
	min-width: 22px;
	height: 20px;
	border: none;
	box-shadow: none;
	background: none;
	z-index: 100;
}
.mltlngg-lang-button img.mltlngg-lang,
.mltlngg-lang-button-icons img.mltlngg-lang {
	border: none;
	padding: 2px;
	margin: auto 0;
}
.mltlngg-lang-button img.mltlngg-current-lang,
.mltlngg-lang-button-icons img.mltlngg-current-lang {
	border: 1px solid #9C9C9C;
	padding: 1px;
	margin: auto 0;
}
.wp-list-table th[class*='column-mltlngg_language_'],
.wp-list-table td[class*='column-mltlngg_language_'] {
    width: 1.5em;
}
.wp-list-table th[class*='column-mltlngg_language_'] .dashicons-yes,
.wp-list-table td[class*='column-mltlngg_language_'] .dashicons-yes {
    color: #46b450;
}

/* Drop-down flag icons */
.mltlngg-lang-switch {
	position: relative;
	margin: 0;
	padding: 0;
	height: 20px;
	width: 46px;
	box-sizing: content-box;
	list-style: none;
}
.mltlngg-lang-switch img {
	border: none;
	padding: 2px;
	margin: auto 0;
	vertical-align: sub;
}
body .mltlngg-lang-switch a img {
	box-shadow: none;
}
body:not(.rtl) .mltlngg-lang-switch > li:after {
	border-color: #9C9C9C transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: "";
	height: 0;
	margin-top: 0;
	position: absolute;
	right: -10px;
	top: 40%;
	width: 0;
}
body:not(.rtl) .mltlngg-lang-switch:hover > li:after {
	border-color: #9C9C9C transparent;
	border-width: 0 5px 5px;
	cursor: pointer;
}
.rtl .mltlngg-lang-switch > li:before {
	border-color: #9C9C9C transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: "";
	height: 0;
	margin-top: 0;
	position: absolute;
	left: -10px;
	top: 40%;
	width: 0;
}
.rtl .mltlngg-lang-switch:hover > li:before {
	border-color: #9C9C9C transparent;
	border-width: 0 5px 5px;
	cursor: pointer;
}
body:not(.rtl) .mltlngg-lang-switch.mltlngg-lang-switch-names > li:after {
	right: 3px;
}
.rtl .mltlngg-lang-switch.mltlngg-lang-switch-names > li:before {
	left: 3px;
}
.mltlngg-lang-switch > li {
	position: relative;
	width: 26px;
	margin: 0 !important;
	padding: 0 !important;
	height: 20px;
}
.mltlngg-lang-switch > li img,
.mltlngg-lang-switch ul {
	margin-left: 3px !important;
	margin-right: 3px !important;	
}
.mltlngg-lang-switch > li img {
	display: inline-block !important;
}
.mltlngg-lang-switch:hover,
.mltlngg-lang-button:hover,
.mltlngg-lang-button-icons:hover {
	cursor: pointer;
}
.mltlngg-lang-switch > li ul {
	display: none;
	top: 20px;
	position: absolute !important;
	margin: 0 !important;
	padding: 0;
	z-index: 100;
	list-style: none;
}
.mltlngg-lang-switch-names > li ul {
	width: 100%;
	top: 30px;
}
.mltlngg-lang-switch > li:hover > ul {
	display: block;	
}
.mltlngg-lang-switch li > ul li,
.widget .mltlngg-lang-switch li > ul li {
	margin: 0;
	padding: 0;
	height: 20px;
}
.mltlngg-lang-switch-names,
.mltlngg-lang-switch-names li {
	width: auto;
	color: #555;
	padding: 4px 0 !important;
}
.mltlngg-lang-switch-names > li > a,
.mltlngg-lang-switch-names > li > a:active,
.mltlngg-lang-switch-names > li > a:hover {
	width: 100%;
	display: inline-block;
	color: #555;
	box-shadow: none;
	border: none;
	text-decoration: none;
}
.mltlngg-lang-switch-names li button {
	color: #555;
}
.mltlngg-lang-switch-names li,
.mltlngg-lang-switch-names li > ul li {
	font-size: 14px;
	height: auto;
	background-color: #F5F5F5;
	border: 1px solid #fafafa;
}
.mltlngg-lang-switch-names ul li:hover {
	background-color: #fafafa;
}
.mltlngg-lang-switch-names {
	height: auto;
}
.mltlngg-lang-switch-names > li:after {
	top: 12px;
	right: -15px;
}
.mltlngg-lang-switch-names .mltlngg-lang-button-icons {
	width: 100%;
	text-align: left;
	text-transform: none;
	font-weight: normal;
}
.rtl .mltlngg-lang-switch-names .mltlngg-lang-button-icons {
	text-align: right;
}
.mltlngg-nav-tab-wrapper a.mltlngg_add {
	font-size: 13px;
	display: inline-block;
	margin: 5px 10px 0;
}
#mltlngg-current-languages-form .column-priority input {
	width: 60px;
}
#mltlngg-current-languages-form .column-locale {
	width: 100px;
}
#mltlngg-current-languages-form td[class*='column-pro_options'],
#mltlngg-current-languages-form th[class*='column-pro_options'] {
	overflow: hidden;
    background: rgba(248, 226, 104, 0.11) url("../bws_menu/images/pattern_bg.png");
}
#mltlngg-current-languages-form thead th[class*='column-pro_options'] {
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}
#mltlngg-current-languages-form tbody td[class*='column-pro_options'] {
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}
#mltlngg-current-languages-form tfoot th[class*='column-pro_options'] {
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}
textarea.mltlngg_table_pro_option {
	width: 100%;
}
.mltlngg-lang-switch button.mltlngg-lang-button {
	padding: 0;
}
/* menu item */
li.mltlngg-menu-item-icon > ul > li.mltlngg-menu-item-icon > a {
	width: auto;
}
.menu .mltlngg-menu-item img.mltlngg-lang {
	width: auto !important;
	display: inline-block !important;
}
.mltlngg-menu-item-radio {
	clear: both;
}
@media screen and (max-width: 782px) {
	#mltlngg-current-languages-form tbody td[class*='column-pro_options'] {
		border: 1px solid #AAA;
	}
	.mltlngg-menu-item-radio input {
		width: 25px;
	}
	.mltlngg-menu-item-radio {
		margin-bottom: 5px;
	}
}
@media only screen and ( max-width: 768px ) {
	.mltlngg_widget_label {
		display: inline-block;
		margin-bottom: 10px;
	}
}
@media only screen and ( max-width: 480px ) {
	.bws_help_box.mltlngg_thumb_block {
		display: none;
	}
	#mltlngg-settings .fixed .column-locale,
	#mltlngg-settings .fixed .column-flag,
	#mltlngg-settings .fixed .column-status {
		display: none;
	}
}